@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #1f1d2b;
  --secondary-color: #252837;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
}

.show-in-mobile {
  display: none;
}

.desktop-nav {
  background: var(--primary-color);
  position: sticky;
  width: 100%;
  top: 0;
  color: white;
  z-index: 2;
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-center input {
  padding: 10px 20px;
  background: var(--secondary-color);
  outline: none;
  color: white;
  border: 1px solid #999;
  width: 40vw;
  border-radius: 10px;
}

.nav-center input:hover,
.nav-center input:focus {
  background-color: #2f2e38;
  transition: 0.2s ease-in-out;
  border: 1px solid #7f74e9;
}

.nav-right {
  display: flex;
  align-items: center;
}

.avatar {
  background: yellow;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.nav-person-info,
.avatar {
  margin-right: 5px;
}

.nav-drop {
  color: #808e96;
  font-size: 13px;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px;
}

.notification {
  color: #808e96;
  cursor: pointer;
  padding: 10px;
}

main aside {
  height: 100%;
  width: 280px;
  z-index: 1;
  background: var(--primary-color);
  padding-left: 30px;
  position: fixed;
  overflow-y: auto;
}

#aside-empty {
  height: 13%;
}

main aside p {
  color: #808e96;
  font-size: 14px;
}

main aside .title {
  padding: 15px 0;
}

main aside ul {
  list-style-type: none;
}

main aside ul li a {
  display: flex;
  align-items: center;
  color: #808e96;
  text-decoration: none;
  padding: 15px 0;
}

main aside ul li a .aside-icon {
  padding: 10px;
  border-radius: 10px;
}

main aside ul li a p {
  margin-left: 10px;
  font-size: 14px;
}

main aside ul li:hover .aside-icon,
.active .aside-icon {
  background: #eb7247;
  color: white;
  transition: 0.2s ease;
}

main aside ul li:hover .aside-icon-content,
.active .aside-icon-content {
  color: white;
  transition: 0.2s ease;
}

.container {
  margin-left: 280px;
  padding: 20px;
}

main .content {
  max-width: 1000px;
  margin: 0 auto;
}

.aside-separator {
  background: var(--secondary-color);
  height: 1px;
  margin: 30px 50px 30px 0;
}

/* Credit: Florin Pop https://codepen.io/FlorinPop17/pen/XWWZYYG */
.checkbox-container {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.checkbox-container p {
  margin-left: 15px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #6a60ce;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 16px;
  width: 30px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.fa-moon {
  color: white;
  font-size: 8px;
}

.fa-sun {
  color: white;
  font-size: 8px;
}

.page-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-posts {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 20px;
}

.top-post {
  background: red;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.top-posts .top-post .top-post-title {
  font-size: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-weight: bold;
  color: white;
  width: 15ch;
}

.top-post-details {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.top-post-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  background: yellow;
}

.top-post-details p {
  color: white;
}

.top-post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.post-section-title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 40px 0 20px;
}

.post-section {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 20px;
}

.post-block {
  border-radius: 20px;
  height: 250px;
  background: red;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.time-pill {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 7ch;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  padding: 2px;
}

.pill-post-block {
  float: right;
  margin: 10px;
}

.pill-top-post-block {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
}

.post-block-details {
  background: var(--secondary-color);
  color: white;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

.post-block-details .author,
.post-block-details .extra-info {
  font-size: 12px;
  margin: 3px 0;
  color: #808e96;
}

.post-block-details .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 600;
}

.post-block-avatar {
  height: 50px;
  background: yellow;
  border-radius: 100%;
  margin-top: -40px;
  float: right;
  width: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808e96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b89e95;
}

.mobile-nav {
  display: flex;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: var(--secondary-color);
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  font-size: 14px;
  align-items: center;
}

.mobile-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-item p {
  margin-top: 5px;
  font-size: 12px;
}

/* For  dark mode */

.light {
  background-color: white !important;
}

.text-light {
  color: black !important;
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .post-section {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }

  .hide-in-1200 {
    display: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  .post-section {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }

  .hide-in-900 {
    display: none;
  }

  main aside {
    width: auto;
    padding-left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-posts {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  .top-post-1 {
    grid-column: span 1;
  }

  .container {
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  .post-section {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }

  .hide-in-900 {
    display: none;
  }

  main aside {
    width: auto;
    padding-left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desktop-nav {
    display: none;
  }

  .top-posts {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  .container {
    width: 100%;
    margin-left: 0;
  }

  main aside {
    display: none;
  }

  main {
    width: 100%;
  }

  .show-in-mobile {
    display: initial;
  }
}

@media screen and (max-width: 477px) {
  .post-section {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
}
